/* Ensures all elements use border-box. */

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
}


/* Navigation */

header {
  border-top: 2px solid;
  border-bottom: 1px solid gray;
  padding: 8px;
  position: relative;
}

#logo {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-decoration: none;
  position: absolute;
}

#logo img {
  max-width: 100%;
  max-height: 100%;
  top: 4px;
  position: relative;
}

nav {
  display: inline-block;
  left: 48px;
  position: relative;
}

nav a {
  display: inline-block;
  padding: 10px;
}

.box-model .tile {
  width: 50%;
}


/* Hero image */

#hero {
  min-height: 10vh;
  margin-bottom: 2rem;
}

#hero img {
  max-height: 100%;
  max-width: 100%;
}


/* Main content */


/* Tiles */

.tiles {
  position: relative;
}

.tile {
  background-color: #ffffff;
  border: 1px solid gray;
  display: inline-block;
  margin: 12px;
  padding: 8px;
  width: 25%;
}

.tile img {
  max-height: 100%;
  max-width: 100%;
}

.center-inline {
  position: relative;
  border: 1px solid black;
  height: 30vh;
  margin-bottom: 1em;
  text-align: center;
}

.center-inline span {
  vertical-align: middle;
  height: 30vh;
  line-height: 30vh;
}

.center-block {
  position: relative;
  border: 1px solid black;
  height: 30vh;
}

.center-block p {
  height: 5vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
