@media all and (min-width: 0) and (max-width: 480px) {
  nav {
    display: block;
    left: 0;
  }
  nav a {
    display: block;
  }
  #logo {
    display: none;
  }
  .tile {
    background-color: #ffffff;
    border: 1px solid gray;
    display: inline-block;
    margin: 0 0 1em 0;
    padding: 8px;
    width: 100%;
  }
}
